html{
    box-sizing: border-box;
}
body{
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
header {
    background-color: rgb(166, 206, 23);
    text-align: center;
    padding: 20px;
    margin: 0;
    /* margin: 20px; */
}
nav{
    background-color: rgb(206, 226, 223);
    padding: 10px;
    margin: 0px;
    position: fixed;
    width: 100%;
    top: -3px;
}
nav ul{
    white-space: nowrap;
    /* max-width: 1200px; */
    margin: 0;
}
nav li{
    width: 25%;
    display: inline-block;
    font-size: 18px;
}
nav li a{
    text-decoration: none;
    color: #030007;
}
.about-me {
  /* background: #dfd1d1; */
  background-color: rgb(45, 172, 87);
  padding: 20px;
  overflow: hidden;
}

.about-me h2 {
  text-align: center;
}

.about-me img {
  width: 250px;
  height: 250px;
  float: left;
  border-radius: 7em;
}

.about-me p {
  float: left;
  line-height: 2em;
  font-size: 18px;
  /* margin: 30px; */
  color: #4B4B4B;
}
.about-me .box li{
    display: inline-block;
    width: 39%;
    margin: 10px 5%;
}
.myskills {
    padding: 70px;
    /* background-color: aqua; */
    background: #0dcfa5;
    overflow: hidden;
}
.myskills h2{
    text-align: center;
    border-radius: 10px;
}
.myskills li{
    font-size: 17px;
    color:  #4B4B4B;
    border-radius: 8px;
}
.contact-me{
    background-color: rgb(236, 228, 217);
    border-radius: 10px;
    padding: 30px;
    color: rgb(90, 82, 82);
    /* font-family:monospace ; */
    font-size: 25px;
    overflow: hidden;
}
.contact-me h2{
    text-align: center;
}
input[type=text], select, textarea {
    width: 100%; 
    padding: 10px; 
    border-radius: 8px;
    margin-top: 10px;
    margin-bottom:20px;
  }
  input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 20px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
  }
  input[type=submit]:hover {
    background-color: #45a049;
  }
@media screen and (max-width: 900px)
{
    .about-me .box li{
        display:block;
        width: 100%;
    } 
}